body {
	width: 100% ;
}

img{
	margin: 1px;
}

#numberGoal {
	height: 100px;
	width: 150px;
	border-color: gray;
	border-width: 2px;
	border-style: solid;
	float: left;
	clear: right;
	margin: 5px;
	font-size: 28px;
}

.livesCounter {
	height: 70px;
	width: 140px;
	border-color: gray;
	border-width: 2px;
	border-style: solid;
	float: left;
	clear: right;
	margin: 5px;
}

.jewels {
	float: left;
	clear: left;
	margin: 5px;
}



.Counter {
	height: 120px;
	width: 150px;
	border-color: gray;
	border-width: 2px;
	border-style: solid;
	float: left;
	clear: left;
	margin: 5px;
}

#jOne {
	clear: right;
	float: left;
}

#jTwo {
	clear: right;
	float: left;
}

#jThree {
	clear: right;
	float: left;
}

#jFour {
	clear: right;
	float: left;
}